            <div ng-controller="shorUrlCtrl" >
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <h2>Tiny Url is:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{shortUrl}}</h2>  
                        
                        <p style="padding:10px;"></p>
                        <div class="form-actions">
                            <a href="/" style="font-size:20px; font-weight:bold;">Back</button>
                        </div>
                    </fieldset>
                </form>
            </div>